<table class="table table-striped table-condensed" ng-if="ctrl.found.length > 0">
    <thead>
        <tr>
            <td>Name</td>
            <td>Short Name</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in ctrl.found">
            <td>{{ item.name }}</td>
            <td>{{ item.short_name }}</td>
            <td>{{ item.description }}</td>
            <td><button class="btn btn-xs btn-danger" ng-click="ctrl.onRemove({'index': $index})">Don't want this one!</button></td>
        </tr>
    </tbody>
</table>
