<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JHU | Coursera | Full Stack: AngularJS | Module 1 - Solution</title>
</head>

<body ng-app="LunchCheck">
    <header>
        <h4>John Hopkins University | Coursera | Full Stack: AngularJS</h4>
        <h1>Solution for Module 1 assignment</h1>
    </header>
    <main>
        <div ng-controller="LunchCheckController">
            <p><label for="foodInput">How many food items do you normally eat for lunch?</label></p>
            <p><input ng-model="foodInput" type="text" id="foodInput" placeholder="e.g., sandwich, apple"></p>
            <p><button ng-click="isTooManyFoodItems(foodInput)">Check If Too Much</button></p>
            <p>{{ countFoodItems }}</p>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>